.calendar {
  width: 80%;
  height: auto;
  font-family: 'Montserrat';
  background-color: #fff;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  border-radius: 10px;
  border: 2px solid #62696C;
  margin: auto;
  margin-top: 20px;
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.calendar-header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  padding: 10px;
}

.calendar-day {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 30px; */
  font-size: 14px;
  /* margin: 0.8vh 0; */
  cursor: pointer;
  color: #242729;
  height: 5vh;
}

.calendar-day.current-month {
  background-color: #fff;
}

.calendar-day.today {
  font-weight: bold;
  color: #0081B7;
}

.calendar-day.past {
  color: #C5CBCD;
}

.calendar-day.taken {
  font-weight: bold;
  background: #DAEAF1;
  border: 2px solid #0081B7;
  border-radius: 4px;
}

#agendaHeader {
  margin-top: 10px;
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}