.profileInfo {
    font-family: 'Montserrat';
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: center;
    margin-top: 3vh;
    margin-left: 0.6rem;
}

#profilePic {
    width: 10vw;
    height: auto;
    margin-right: 1rem;
}

.privateInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.profileText {
    display: flex;
    flex-direction: column;
}

.profileText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#profileRating {
    background-color: red;
}