.profileInfo {
    font-family: 'Montserrat';
    font-size: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
    padding-bottom: 3vh;
    border-bottom: 2px solid #ECECEC;

}

#profilePic {
    height: 170px;
    margin-right: 1rem;
    border-radius: 20px;
}

.privateInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

.profileText {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profileText {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profileTitle {
    font-style: normal;
    font-weight: 600;

}

.PersonalInfo {
    border-bottom: 2px solid #ECECEC;
    padding-bottom: 1vh;
    padding-top: 1vh;
}