.rating {
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    width: min(45%, 10em);
    align-items: center;
    font-family: 'Montserrat';
    justify-content: space-around;
    margin: 10px;
    width: 90%;
}


.stars{
    display: flex;
    flex-direction: row;
}

.combinedRating{
    display: flex;
    flex-direction: row;
}

.headerRating{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    justify-content: center;
    /* word-break: break-all; */
}

#underText{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}


.ratings{
    /* gap: 0 min(4em, 10vw) ; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: min(75%, 430px);
    box-shadow: 0px 2px 10px 4px rgba(131, 138, 141, 0.5);
}
